@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #EB5E28;
  --primary-light: #fffcf7;
  --secondary-light: #f3ece9;
  --primary-dark: #252422;
  --secondary-dark: #13120c;
  --border-light: #e1e1e1;
  --border-dark: #090707;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
}

a {
    color: var(--accent);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rainbow {
    display: inline-block;
    color: transparent;
    background: linear-gradient(
          to right,
          rgba(120, 93, 226, 1) 20%,
          rgba(235, 90, 90, 1) 40%,
          rgba(238, 193, 106, 1) 60%,
          rgba(38,247,247,0.8) 80%,
          rgba(120, 93, 226, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% 100%;
    background-repeat: repeat-x;
    transition: all 0.5s ease;
    animation: rainbow 3s linear infinite;
    animation-play-state: paused;
}

.rainbow:hover {
    animation-play-state: running;
}

@keyframes rainbow {
    0% {
        background-position-x: 50%;
    }
    100% {
        background-position-x: 250%;
    }
}